10-steel/**/*.ipt_COPY
10-steel/**/*.ipt_echo
10-steel/**/*.Echo
10-steel/**/*.ElemEnvelope
10-steel/**/*.ElemRecord
10-steel/**/*.Energy
10-steel/**/*.ipt_COPY
10-steel/**/*.ipt_echo
10-steel/**/*.NodeDisRecord
10-steel/**/*.NodeEnvelope
10-steel/**/*.SectionX
10-steel/**/*.SectionY
10-steel/**/*.SectionZ
10-steel/**/*.showElem1
10-steel/**/*.showEngy
10-steel/**/*.showNode1
10-steel/**/*.VISA3D
10-steel/**/*.Element
**/ETABS/*.$ET
**/ETABS/*.$og
**/ETABS/*.ebk
**/ETABS/*.EV
**/ETABS/*.F1
**/ETABS/*.F9
**/ETABS/*.fun
**/ETABS/*.GUU
**/ETABS/*.H
**/ETABS/*.H1
**/ETABS/*.hsa
**/ETABS/*.hsc
**/ETABS/*.ID
**/ETABS/*.jcj
**/ETABS/*.job
**/ETABS/*.K
**/ETABS/*.K1
**/ETABS/*.K9
**/ETABS/*.LBK
**/ETABS/*.lbl
**/ETABS/*.lbm
**/ETABS/*.lin
**/ETABS/*.LOG
**/ETABS/*.M1
**/ETABS/*.M9
**/ETABS/*.MAS
**/ETABS/*.mod
**/ETABS/*.msh
**/ETABS/*.mtl
**/ETABS/*.npr
**/ETABS/*.OUT
**/ETABS/*.p1m
**/ETABS/*.p9
**/ETABS/*.PAR
**/ETABS/*.rsi
**/ETABS/*.U
**/ETABS/*.U1
**/ETABS/*.V
**/ETABS/*.V1
**/ETABS/*.XMJ
**/ETABS/*.xyz
**/ETABS/*.Y1
**/ETABS/*.Y9
**/ETABS/*.Z1
**/ETABS/*.Z9

